@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.app {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow-x: hidden;
  overflow: hidden;
  padding: 65px 0 0 0;

  .food_card_section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: auto;

    .heading {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: auto;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 30px;
        color: #2B2B2B;
      }

      p {
        border-bottom: 2px solid black;
        margin: 10px 0 25px 0;
        width: 50px;
      }
    }

    .cards {
      display: flex;
      height: auto;
      height: 80vh;

      .one_card {
        width: 50%;
        height: auto;
      }

      .four_card {
        width: 48%;
        height: auto;
        //height: 50%;
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-content: space-between;
        padding: 0 0 0 20px;

        .box {
          width: 100%;
          height: 100%;
          //width: 50%;
          //height: 50%;
        }
      }


    }
  }
}